# Folders
.old/
.tensorboard/
.tensorboard.old/
__pycache__/
#domain/
results/


# Files in folders
models/*.tar.gz


# Files
.db
.DS_store
.google-cookie
.test_domain.yml
events.db
events.db-shm
events.db-wal
rasa.db
rasa.db-shm
rasa.db-wal
story_graph.dot